body {
    margin: 60px auto;
    width: 10%;
}

nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-weight: bold;
    list-style: none;
    padding: 0px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #999999;
    text-decoration: none;
}

h1 {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: 3em;
}

p {
    color: #333333;
    font-size: 1.5em;
    line-height: 1.4em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    font-size: 1.5em;
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: none;
}