.logo {
    background: url(/assets/logo.svg) no-repeat;
    background-size: 32px 32px;
    display: inline-block;
    height: 32px;
    padding: 0;
    text-indent: -9999px;
    width: 32px;
}

.right {
    float: right;
}

body {
    background: #F5F5F5;
    margin: 60px auto;
    width: 70%;
}

code {
    background: #dedede;
    border: 1px solid #aaaaaa;
    display: inline-block;
    font-family: "Courier", "serif";
    font-size: 15px;
    overflow-x: auto;
    padding: 6px 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

nav {
    overflow: auto;
}

nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-weight: bold;
    list-style: none;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #999999;
    text-decoration: none;
}

h1 {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: 3em;
}

p {
    color: #333333;
    font-size: 1.5em;
    line-height: 1.4em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    font-size: 1.5em;
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: none;
}