<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <!-- <link rel="stylesheet" type="text/css" href="/assets/normalize.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/assets/reset.local.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/assets/typography.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/assets/main.css"> -->
    {% include analytics.html %}
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/" class="logo">Reverie Visuals</a></li>
        <li class="right"><a href="/about">About</a></li>
        <li class="right"><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:xcession@reverievisuals.com">email</a></li>
        <li><a href="https://github.com/xcession">github.com/xcession</a></li>
      </ul>
    </footer>
  </body>
</html>
